*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}
.navlink ul
{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

button{
    background: #e1de24;
    padding: 5px 10px;
    border: 1px solid #F6CA56;
    border-radius: 5px;
}
nav{
    align-items: center;
}

.homepage{
    height: 100vh;
    background-color: #EEF1F4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.homepage-content{
    display: flex;
    align-items: center;
    gap: 150px;
}

.text-description{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

img{
    border-radius: 50px;
}


h1{
    line-height: 50px;
}